.pokeitem{
    height: 30px;
    background-color: #357376;
    text-align: center;
    font-size: 1em;
    text-transform: capitalize;
    color: white;
}

.pokeitem:hover {
    background-color: #1d4d4f;
    cursor: pointer;
}